.form {
    max-width: 430px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: absolute;
    left: calc(50vw - 215px);
    top: calc(50vh - 165px);
    z-index: 2;
    margin: 0 auto;
}

@media screen and (max-width: 440px) {
    .form {
        max-width: calc(100% - 38px);
        top: calc(50% - 160px);
        left: 19px;
    }
}