.place__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-size: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.place__like:hover {
    opacity: 0.5;
  }
  
.place__like_active {
    opacity: 1;
    background-image: url(../../../images/like-activ.svg);
  }