.places {
    max-width: 68.75%;
    margin: 51px auto 0;
    display: grid;
    gap: 17px 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1023px) {
    .places {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 88.125%;
        grid-template-columns: 1fr;
    }
}