.place__list {
    background-color: white;
    padding: 25px 20px 31px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 282px;
    align-items: center;
}