 .header__logo {
     background-image: url(../../../images/logo.svg);
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0;
     width: 142px;
     height: 33px;
 }
 
 .header__logo:hover {
     background-image: url(../../../images/logo-hover.svg);
 }

 @media screen and (max-width: 767px) {
    .header__logo {
        max-width: 32vw;
        max-height: calc(32vw * 0.23);
    }
}