.profile__subtitle {
    max-width: 336px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
    line-height: 1.22;
    padding-top: 16px;
    margin: 0;
    align-items: flex-end;
    text-overflow: ellipsis;
    max-width: calc(50vw);
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 939px) {
    .profile__subtitle {
        margin: 0 auto;
        padding-top: 14px;
        text-align: center;
    }
}