.profile__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
    line-height: 1.22;
    padding-top: 16px;
    margin: 0;
    align-items: flex-end;
    text-overflow: ellipsis;
    max-width: calc(50vw);
    overflow: hidden;
    white-space: nowrap;
}