.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (42 - 27) + 27px);
    line-height: 1.14;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(50vw - 42px);
}

@media screen and (max-width: 320px) {
    .profile__title {
        font-size: 27px;
        line-height: 1.22;
    }
}