.popup__form-submit {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    cursor: pointer;
    margin: 48px auto 37px 0;
    border: 0;
}

.popup__form-submit:hover {
    opacity: 0.8;
    border-radius: 2px;
}

@media screen and (max-width: 440px) {
    .popup__form-submit {
        width: 100%;
        height: 46px;
        margin: 45px auto 25px 0;
        font-size: 14px;
        line-height: 1.21;
    }
}