.popup__form {
    max-width: 430px;
    max-height: 330px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 36px;
    z-index: 999;
    position: fixed;
    top: calc((100vh - 330px) / 2);
    left: calc((100vw - 450px) / 2);
}

@media screen and (max-width: 520px) {
    .popup__form {
        max-width: calc(100% - 38px);
        left: 19px;
        padding: 0 22px;
    }
}