.forms__text {
    width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    padding-bottom: 13px;
    padding-top: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000 0.2;
    
}

@media screen and (max-width: 440px) {
    .forms__text {
        width: 100%;
    }
}