.form__close {
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    background-color: #000;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 999;
    position: fixed;
    right: calc(50vw - 260px);
    top: calc(50vh - 202px);
}

@media screen and (max-width: 440px) {
    .form__close {
        width: 20px;
        height: 20px;
        right: 19px;
    }
}