.form__close {
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    top: calc(50% - 205px);
    right: calc(50% - 255px);
}

@media screen and (max-width: 440px) {
    .form__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}