.form__container {
    max-width: 470px;
    max-height: 370px;
    margin: 0px auto;
    padding: 10px;
    position: fixed;
    top: calc((100vh - 370px) / 2);
    left: calc((100vw - 470px) / 2);
}

@media screen and (max-width: 440px) {
    .form__container {
        max-width: calc(100% - 38px);
        top: calc((100vh - 322px));
        left: 19px;
    }
}